<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapper.TagMapper">
    <resultMap id="tag" type="com.ljh.vo.TagVO">
        <id property="id" column="id" />
        <result property="name" column="name"/>
        <collection property="blogs" ofType="com.ljh.entity.Blog" >
            <id property="id" column="bid" />
        </collection>
    </resultMap>

    <select id="listTagVO" resultMap="tag">
        select t.id id,
            t.name name,
            b.id bid
        from t_tag t, t_blog_tags bt, t_blog b
        where t.id = bt.tag_id
            and bt.blog_id = b.id;
    </select>

</mapper>